<p class="error" style="display:none;"></p>
<a href="#" id="connect">Authenticate with Twitter</a>

<script>

  var oauthWindow;

  document.ready = function(){
    "use strict";
    $('#connect').click(function(){
      oauthWindow = window.open('/auth/twitter', 'Authenticate_with_Twitter', 'location=0,status=0,width=800,height=400');
      return false;
    });
  };

  var success = function(){
    "use strict";
    oauthWindow.close();
    pbt.postMessage({action: 'redirect', url: window.location.href.split('?')[0]});
  };

  var failure = function(){
    "use strict";
    oauthWindow.close();
    $('.error').text("Failed to authenticate with Twitter. Please try again.").show();
  };

</script>
